*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
header{
    background-color: #0d0b17ac;
    text-align: right;
    height: 80px;
}
main{
    width: 100%;
    height: calc(100vh - 80px);
}
.container-main{
    max-width: 400px;
    margin: 0 auto;
    height: calc(100vh - 80px);
}
/* CLASSI DI LAYOUT  */


/* row  */
.row-sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

/* colonne  */
.col-50{
    width: 50%;
}
.col-100{
    width: 100%;
}
.left-col, .right-col{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
}
.center-col{
    width: calc(100% - 300px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* sezioni  */
.bottom-section{
    height: 70px;
    background-color: rgb(43, 43, 43);
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.top-section{
    height: calc(100vh - 70px);
    display: flex;
}
.sidebar{
    width: 50px;
    background-color: black;
    font-size: 10px;
}
.nav-logo{
    width: 100%;
}
/* content  */
.main-content{
    width: calc(100vw - 50px);
    background-color: #16161e;
    overflow-y: scroll;
}
.content-sidebar-top{
    margin-top: 10px;
    text-align: center;
}
.content-sidebar-bottom{
    margin-top: 10px;
    text-align: center;
}
.content-player{
    margin: 10px;
    color: white;
    font-size: 15px;
}
.content-main{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.606) ;
}


/* CLASSI DI STILE*/


/* generali */
button{
    padding: 10px;
    color: white;
    border: 1px solid white ;
    border-radius: 20px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 20px;
    cursor: pointer;
}
.uppercase{
    text-transform: uppercase;
}
.round-grey-background{
    background-color: grey;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 5px auto;
    background-image: url('../img/profile.svg');
    background-size: cover;
}
.buttons-list{
    color: white;
    display: flex;
}
.playbar-controls{
    display: flex;
    width: 100%;
}
.current{
    font-size: 10px;
    color: white;
}
.end{
    font-size: 10px;
    color: white;
}
.nav-playlist{
    display: none;
    font-size: 15px;
}
ul{
    list-style-type: none;
}
.circular-landscape{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}


/* SELETTORI COMPOSTI */


/* sidebar  */
.content-sidebar-top img{
   width: 25px;
}
.content-sidebar-bottom img{
    width: 20px;
 }
.content-sidebar-top a,
.content-sidebar-bottom div{
    cursor: pointer;
 }
.content-sidebar-top li{
   margin: 5px 0px;
}
.content-sidebar-top span,
.content-sidebar-bottom span,
.content-sidebar-top hr,
.content-sidebar-bottom hr{
    display: none;
    cursor: pointer;
 }

/* center-col*/
.playbar-controls .playbar{
    width: 80%;
    height: 4px;
    border-radius: 20px;
    margin: 3px 6px 0px 6px;
    background-color: rgba(202, 202, 202, 0.241);
}
.playbar .playbar-timeline{
    width: 20%;
    background-color: rgba(255, 255, 255, 0.559);
    border-radius: 20px;
    height: 4px;
    cursor: pointer;
}
.buttons-list li{
    margin: 0px 10px 10px 10px;
    cursor: pointer;
}

/* left-col  */
.left-col img{
    width: 28px;
    height: 28px;
    margin-left: 10px;
}
.left-col ul{
    font-size: 10px;
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.482);
    cursor: pointer;
}
.left-col ul h3{
    color: white;
}
.left-col a{
    text-decoration: none;
    color: grey;
}
.left-col div{
    cursor: pointer;
}

/* right-col  */
.right-col ul{
    color: white;
    display: flex;
    font-size: 11px;
    margin-left: 15px;
    cursor: pointer;
}
.right-col li{
    margin: 0px 5px;
}
.right-col .volume{
    width: 80%;
    height: 4px;
    border-radius: 20px;
    margin: 0px 6px 0px 6px;
    background-color: rgba(202, 202, 202, 0.241);
}
.volume .volume-line{
    width: 20%;
    background-color: rgba(255, 255, 255, 0.559);
    border-radius: 20px;
    height: 4px;
    cursor: pointer;
}

/* content main  */
.content-main ul{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
}
.content-main li{
   margin: 8px;
}
.content-main hr{
    width: 35%;
    margin: 0 auto;
    border: 1px solid greenyellow;
}

/* content player  */
.content-player img{
    width: 100%;
    display: block;
    cursor: pointer;
}
.content-player h4,
.content-player div{
    text-align: center;
    margin-top: 5px;
}
.circular-landscape img{
    width: auto;
    height: 100%;
}

/* background e colori  */
.white{
    color: white;
}
.t-grey{
    color: rgba(255, 255, 255, 0.482);
}
/* margin  */
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-15{
    margin-bottom: 15px;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}


/* testo  */
.text-center{
    text-align: center;
}

/* d-block d-none  */
.d-none{
    display: none;
}
.d-block-s{
    display: block;
}
.d-none-s{
    display: none;
}
.d-none-m{
    display: none;
}
.d-block-lg{
    display: block;
}
.d-none-lg{
    display: none;
}

/* hover  */
header button:hover{
    transform: scale(1.2);
}
.content-main li:hover,
.content-sidebar-top li:hover,
.nav-playlist a:hover,
.content-sidebar-bottom span:hover,
.fa-folder:hover,
.fa-heart:hover{
    color: white;
}
.left-col a:hover{
    text-decoration: underline;
    color: white;
}
.far:hover{
    transform: scale(1.2);
}
.playbar-timeline:hover,
.volume-line:hover{
    background-color: greenyellow;
}
.playbar-timeline:hover .d-none{
    display: flex;
    justify-content: right;
}
.volume-line:hover .d-none{
    display: flex;
    justify-content: right;
}

.content-player:hover .d-none{
    display: inline;
    font-size: 100px;
}
